.user-list-wrapper {
    display: flex;
    flex-direction: row;
}

.user-item-container {
    padding: 0 4rem 0 0;
    margin: 1.2rem;
    float:left;
}
ul {
    list-style: none;
}
.user-pfp {
    padding: 2.5rem;
    background-color: darkblue;
    color: white;
    border-radius: 0.5rem;
    margin: 1.2rem;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.user-item-wrapper {
    display: flex;
    flex-direction: row;
    height: 5rem;
    width: 15rem;
    justify-items: left;
    align-items: center;
    padding: 3.5rem 1.2rem;
}
.user-name {
    font-size: 1.3rem;
    text-decoration: none;
    margin:0.2rem 0;
    color: #0074cc;
}
.items {
    color: grey;
}
.reputation-num {
    font-weight: bold;
}

.users-title {
    margin: 5rem 8rem;
    font-size: 2.5rem;
    font-weight: 500;
}
#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.user-list-tab {
    padding: 1.2rem;
    font-size:1.1rem;
    background-color: white;
    border: 1.5px solid darkgrey;
}
.rep-tab {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-right: none;
}
.abc-tab {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

}
.user-list-tab:hover {
    background-color: #efefef;
}
#tab-change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#buttons-container {
    display: flex;
    align-items: end;
    margin: 2rem 22rem 2rem 0;
    padding: 0 2rem;
}