* {
    box-sizing: border-box;
    font-family: sans-serif;
}
#user-pfp {
    padding: 4rem;
    background-color: green;
    border-radius: 1rem;
    font-size: 4.5rem;
    width: 6rem;
    height: 6rem;
    text-align: center;
    align-items: center;
    display: flex;
    color: white;
    box-shadow: 0 0 0.5rem black;;
    justify-content: center;
    margin: 2rem;
}
.user-icon-git {
    margin-left: 0.1rem;
    color: #525960;
}
#user-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
#edit-button-container {
    flex: 2 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    padding: 3rem;
}
#edit-profile-button {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: white;
    border: 1px solid grey;
    color: grey;
    font-size: 1rem;
}
#edit-profile-button:hover {
    background-color: #e4e4e4;
}
.user-info-item {
    margin-right: 0.5rem;
    font-size: 1.3rem;
}
#user-text {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: left;
}

#user-name {
    font-size: 2.6rem;
    margin: 0 1rem;
}
#user-info {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.user-info-item {
    color: #6a737c;
    margin: 0.5rem 0.2rem ;
    width: 30rem;
}
#user-menu {
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.user-menu-item{
    margin:1rem;
    font-size: 1.7rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    color: #525960;
}
.user-menu-item:hover {
    background-color: lightgrey;
}
.selected {
    margin:1rem;
    font-size: 1.7rem;
    padding: 1rem 1.9rem;
    border-radius: 2rem;
    color: white;
    background-color: #F48225;
}
.selected:hover {
    background-color: darkorange;
}
#user-wrapper {
    margin: 0 30rem;
}
.user-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 1.3rem;
}
.github {
    width: 2rem;
    margin-left: 1.3rem;
}
